
section{
    background-color: #F0FFF0;
}

.navbar-brand img{
    width: 100px;
height: 50px;

}

.navbar{
    background-color: #F0FFF0;
}

.i{
    position: absolute;
padding: 100px;
}
.p{
    position: relative;
    left: 600px;
    padding-top: 50px;
}

.first img{
    width: 554px;
height: 346px;

}

.first{
    background-color: #F0FFF0;
}

.card1 img{
    width: 66px;
height: 85px;
}


.card1{
    width: 200px;
height: 200px;
background: #FFF;
text-align: center;
justify-items: center;
margin: 50px;
border: none;
 border-radius: 10px;
box-shadow: 5px 5px 5px #F0FFF0;
color: #413960;
font-family: Poppins;
font-style: normal;
line-height: normal;
}

.card-img-top{
    margin: 20px;
}

.card2 img{
    width: 331px;
    height: 234px;
    flex-shrink: 0;
}

.card2{
    width: 370px;
height: 483px;
flex-shrink: 0;
background: #FFF;
border: none;
 border-radius: 10px;
box-shadow: 5px 5px 5px #F0FFF0;
color: #413960;
font-family: Poppins;
font-style: normal;
line-height: normal;
}
.third1{
    color: #413960;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 50px;
}
.testimonial img{
    width: 120px;
height: 120px;
flex-shrink: 0;
border-radius: 120px;
position: relative;
left: 250px;
}
.testimoni{
    position: relative;
right: 100px;
top: 20px;
color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.forth{
    margin: 50px;
    width: 1440px;
height: 369px;
flex-shrink: 0;
background: #282531;
color: #FFF;
font-family: Poppins;
font-style: normal;
}
.col{
    margin-top: 50px;
    position: relative;
    left: 30px;
  
}

.last{
    color: #CDCDCD;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
position: relative;
left: 450px;
top: 100px;
}
.btn1{
    color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: inline-flex;
padding: 12px 28px;
align-items: center;
gap: 10px;
border-radius: 33px;
background: #21B573;
border: none;
}

.btn2{
    color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: inline-flex;
padding: 12px 36px;
align-items: center;
gap: 10px;
border-radius: 33px;
background: #21B573;
border: none;
}

.btn3{
    display: inline-flex;
    padding: 8px 28px;
    align-items: center;
    gap: 10px;
    border-radius: 33px;
background: #21B573;
color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
}